
label {
  margin: 8px 8px;
  padding: 16px 8px;
  display: inline-block;
  font-weight: 600;
  width: 200px;
}

input {
  border-radius: 8px;
  width: 200px;
  height: 40px;
  border-left: 0px;
  border-top: 0px;
  border-right: 12px solid #b6b7b845;
  border-bottom: 9px solid #d2dae2;
  padding-left: 16px;
  font-size: 18px;
}

button {
  font-size: 18px;
  padding: 8px 8px;
  border: 0;
  border-radius: 8px;
  width: 148px;
  height: 48px;
}