/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  text-align: center;
  background: radial-gradient(#0e1f0e, transparent);
  font-family: sans-serif;
}